.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
frontend/node_modules

backend/data/generated/
backend/data/humorposts.json
backend/data/posts.json
backend/data/archive.zip
backend/data/archive/
# !backend/data/getjokes.py
# !backend/data/README.md
# !backend/data/getdata.sh
# !backend/data/sampleposts.py
# !backend/data/export_ai_posts.py
# !backend/data/judgements/judgement.html
.vscode/*
!.vscode/extensions.json
backend/.DS_Store
backend/node_modules/
backend/__pycache__/
backend/.env
backend/app.sqlite*

/backend/notebooks/models/*

__pycache__

database
