html, body {
  height: 100%;
  margin: 0;            /* kill the default 8px body margin */
}
#root {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#app {
  display: flex;
  flex-direction: row;
}

#feed {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60vw;
  height: 90vh;
  max-width: 800px;
  background-color: rgba(0, 0, 0, 0.1);
  outline: 1px solid gray;
  border-radius: 10px;
  padding: 2rem;
  margin-right: 20px;
  overflow-y: auto;
}


#feed > h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

#feed > p {
  font-size: 1.5rem;
  text-align: left;
}

#controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* flex-grow: 1; */
  justify-content: flex-end;
  gap: 1rem;
  width: 50px;
}

#controls > button {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.interaction-button {
  border-radius: 50%;
  height: 75px;
  width: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}